.dishItem{
    padding: 5px;
    border-bottom: 1px solid grey;
    position: relative;
}
.itemDetails{
    margin-right: 120px;
    margin-left: 30px;
}

.btnContainer{
    position: absolute;
    right: 50px;
    top: 50%;
}
