/* src/components/Button/Button.module.scss */
.button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  
    &:hover {
      background-color: #0056b3;
    }
  
    &--primary {
      background-color: #28a745;
    }
  
    &--secondary {
      background-color: #ffc107;
    }
  }
  
  .addBtn{
    border-radius: 4px;
    padding: 2px 20px;
    background: #fff;
    border: 1px solid lightgray;
    color: #60b246;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.addBtn:hover{
    box-shadow: 0 2px 8px #d4d5d9;;
}