.dishItem{
    padding: 5px;
    border-bottom: 1px solid grey;
    position: relative;
}
.item-details{
    margin-right: 120px;
    margin-left: 30px;
}

.btn-container{
    position: absolute;
    right: 50px;
    top: 50%;
}
.add-btn{
    border-radius: 4px;
    padding: 2px 20px;
    background: #fff;
    border: 1px solid lightgray;
    color: #60b246;
    -webkit-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.add-btn:hover{
    box-shadow: 0 2px 8px #d4d5d9;;
}