
form {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.5);
}
.input-container{
    text-align: center;
    padding-bottom: 10px;
}

.input-container label {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.2rem;
  color: #9bafaf;
  text-transform: uppercase;
  font-weight: bold;
}

.input-container input {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #869999;
  color: #142020;
  margin:auto;
}

.input-container select {
  display: block;
  width: 100%;
  max-width: 15rem;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #758a8a;
  background-color: #869999;
  color: #142020;
}



.button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #147b73;
  color: #d9e2f1;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #319890;
}

.button-flat {
  background-color: transparent;
  color: #9cbaba;
}

.button-flat:hover,
.button-flat:focus {
  background-color: transparent;
  color: #869999;
}