.header-container{
    display: block;
    background-color: lightblue;
    .header-title{
        font-weight: bold;
        text-decoration: none;
        float:left
    }

    .header-tabs{
        float: right;
        .li-item{
            display: inline-block;
            text-decoration: none;
            padding: 10px;
        }
    }
    .signIn{
        float: right;
    }
}